
# Eclipse specific files
.settings/
.classpath
.project
bin/
build/
workspace/

# Output CSV files
*.csv

#Various temporary files created by editors
*~

# Temp log files
logs/

# Gradle specific files
.gradle/

# MAC Related Files
.DS_Store

